static/scc/ *
static/js/ *

**/__init__.py
**/__pycache__/*

# **/__pycache__/* файлы из папки /__pycache__/ во всех каталогах

db.sqlite3
# если случайно не проигнорировались папки или файлы
# git rm --cached -r . >>>если нужно выбросить все файлы во всех каталогах
# git rm --cached <file_name> если нужно убрать только файл с именем file_name.
