{% extends "calc/base.html" %}

{% load static %}
{% block favik %}
  <link rel="icon" href="{% static 'img/calc.png' %}" sizes="16x16" type="image/png">
{% endblock favik %}

{% block title %} 
Галоўная старонка сайта
{% endblock title %}


{% block header %}
 Ідэя гэтага сайта ... 
{% endblock header %}


{% block content1 %}
 <img src="{% static 'img/molnii2.jpg' %}" width="80%">
{% endblock content1 %}

{% block content2 %}
 <p>
  З’яўляясь інжэнерам-электрыкам, даволі часта выконываю вылчэння
   па выяўленню аптымальных мер маланкааховы. Гэты сервіс ствараўдля сябе,
   але жаданне дапамагчы калегам зрабила яего агульнадаступным.
  Неаднаразова паглыблялся у чытанне нашага СН, каб нагоул зразумець сэнс усяго 
  гэтага дакумента, каб не падобна вылічальнай машыне, а асэнсавана як адукаваны 
  спецыяліст падыходзіць да кожнага будынка и кожнага збудавання каб праводзіць падлік,
  уличываючы усе асблівасци аб’екта і потым праектаваць яго аптымальную ахову ад 
  уздзеяння атмасферных выяв звязяных з навальницай.
  
 </p>
  <div class="row">
    <div class="col align-self-center">
     <img src="{% static 'img/malan_sky.jpg' %}" width="50%">
    </div>  
  
  </div>

 
    
{% endblock content2 %}