{% extends "calc/base.html" %}

{% load static %}
{% block favik %}
  <link rel="icon" href="{% static 'img/calc.png' %}" sizes="16x16" type="image/png">
{% endblock favik %}

{% block title %} 
форма увода
{% endblock title %}


{% block header %}
 Форма-падліл класа сістэмы малакааховы 
{% endblock header %}


{% block content1 %}
 <img src="{% static 'img/molnii2.jpg' %}" width="75%">
{% endblock content1 %}

{% block content2 %}
 
  <style>
    .inpt_ed
      {border-radius: 10px;
      height: 30px;
      width: 60px;
      margin: 3px 3px 3px 0;}

  </style>


  <div class="container-fluid my-2 border border-2 border-warning text-center">
    <h5> Падлік колькасці небяспечных здарэнняў для будынка </h5>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group-my2">
          <div class="row">
            <div class="col-md-3 position-relative">
              <div class="card" style="width: 20rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{ form.Lb.label_tag }} {{ form.Lb }}</li>
                  <li class="list-group-item">{{ form.Wb.label_tag }} {{ form.Wb }}</li>
                  <li class="list-group-item">{{ form.Hb.label_tag }} {{ form.Hb }}</li>
                </ul>
              </div>
            </div>
            <div class="col-md-9 position-relative">              
              <div class="card" style="width: 52rem;">
                <ul class="list-group list-group-flush">                
                  <li class="list-group-item">
                    Таблица А.1 — Значение коэффициента влияния местоположения здания Сd<br>
                    {{ form.Cdb.label_tag }}{{form.Cdb}}</li>
                </ul>
              </div>
            </div>

                <div class="errror"> {{ form.errrors }}</div>
                <div>{{ out }}</dtext-startiv>
                <input type="submit" value="Дадаць...">  
          </div>
        </div>     
    </form>
  </div>
{% endblock content2 %}