{% extends "calc/base.html" %}

{% load static %}
{% block favik %}
  <link rel="icon" href="{% static 'img/calc.png' %}" sizes="16x16" type="image/png">
{% endblock favik %}

{% block title %} 
форма увода
{% endblock title %}


{% block header %}
 Форма-падліл класа сістэмы малакааховы 
{% endblock header %}


{% block content1 %}
 <img src="{% static 'img/molnii2.jpg' %}" width="50%">
{% endblock content1 %}

{% block content2 %}
 
  <!--style>
    .inpt_ed
      {border-radius: 10px;
      height: 30px;
      width: 60px;
      margin: 3px 3px 3px 0;}

    .text-start 
        {text-align: left 2px;}
 
  </style-->


  <div class="container-fluid my-2 border border-2 border-warning">
    <h5> Падлік колькасці небяспечных здарэнняў для будынка </h5>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group-my2">
          <div class="row">
            <div class="col-md-4 text text-center"> <h5> Параметры будынка </h5> </div>
          </div >

          <div class="row">
            <div class="col-md-6">
                {% for field in form %} 
                <div class="col-md-8 text-sart"> 
                      {{ field.label_tag }} </div>
                <div class="col text-start"> 
                      {{ field }}  </div>
                </div>
                <div class="errror"> {{ field.errrors }}</div>
                {% endfor %}
            </div>
          </div>
        </div>
    </div>            
            
    <div class="errror">{{ form.errrors }}</div>
    <input type="submit" value="Дадаць...">  
      </div>
    </form>
  </div>
{% endblock content2 %}