{% extends "calc/base.html" %}

{% load static %}
{% block favik %}
  <link rel="icon" href="{% static 'img/calc.png' %}" sizes="16x16" type="image/png">
{% endblock favik %}

{% block title %} 
форма увода
{% endblock title %}


{% block header %}
 Форма-вылічальник класа сістэмы малакааховы 
{% endblock header %}


{% block content1 %}
 <img src="{% static 'img/molnii2.jpg' %}" width="90%">
{% endblock content1 %}

{% block content2 %}
 
  <p>
  Ззараз тут нічога няма, бо форма-апытальнік яшчэ у распрацоўке. 
  Трэба вывучыць тэму "Формы" у падручніку, а потым стварыць неабходны код у 
  файле calculate.html ...
  
 </p>

    


{% endblock content2 %}