{% extends "calc/base.html" %}

{% load static %}
{% block favik %}
  <link rel="icon" href="{% static 'img/favik.png' %}" sizes="16x16" type="image/png">
{% endblock favik %}

{% block title %} 
Галоўная старонка сайта
{% endblock title %}


{% block header %}
 Гэта галоўная старонка сайта - "index.html" 
{% endblock header %}


{% block content1 %}
 <img src="{% static 'img/molniya.jpg' %}" width="80%" >
{% endblock content1 %}

{% block content2 %}
<p>
 Маланкаахова і разлік яе класа застаецца даволи працаемкім і складаным працэсам
  у праектаванні будынкаў, вельми аб’ёмны тэкст у будаўнічых нормах апісвае яго, шмат
  параметраў, шмат формул и таблиц, цяжка утрымліваць у поле зроку усе гэтыя паказники... .
    
   Маланкаахова і разлік яе класа застаецца даволи працаемкім і складаным працэсам
  у праектаванні будынкаў, вельми аб’ёмны тэкст у будаўнічых нормах апісвае яго, шмат
  параметраў, шмат формул и таблиц, цяжка утрымліваць у поле зроку усе гэтыя паказники... .
    
   Маланкаахова і разлік яе класа застаецца даволи працаемкім і складаным працэсам
  у праектаванні будынкаў, вельми аб’ёмны тэкст у будаўнічых нормах апісвае яго, шмат
  параметраў, шмат формул и таблиц, цяжка утрымліваць у поле зроку усе гэтыя паказники... .
  </p>
  <p> 
   Маланкаахова і разлік яе класа застаецца даволи працаемкім і складаным працэсам
  у праектаванні будынкаў, вельми аб’ёмны тэкст у будаўнічых нормах апісвае яго, шмат
  параметраў, шмат формул и таблиц, цяжка утрымліваць у поле зроку усе гэтыя паказники... .
    
   Маланкаахова і разлік яе класа застаецца даволи працаемкім і складаным працэсам
  у праектаванні будынкаў, вельми аб’ёмны тэкст у будаўнічых нормах апісвае яго, шмат
  параметраў, шмат формул и таблиц, цяжка утрымліваць у поле зроку усе гэтыя паказники... .
  </p>
  <p> 
   Маланкаахова і разлік яе класа застаецца даволи працаемкім і складаным працэсам
  у праектаванні будынкаў, вельми аб’ёмны тэкст у будаўнічых нормах апісвае яго, шмат
  параметраў, шмат формул и таблиц, цяжка утрымліваць у поле зроку усе гэтыя паказники... .
</p>
{% endblock content2 %}